@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-warning bg-dark p-4 mt-4 mb-4">Top Five Newest Movies</h1>
<div class="row row-cols-5">
	<div class="col">
		<div class="card border-0 rounded-0 shadow">
			<img src="~/img/Interstellar.jpg" class="card-img-top" alt="Movie 1" />
			<div class="card-body my-3">
				<div class="row d-inline-flex">
					<div class="col-12">
						<h4 class="card-title">Movie 1</h4>
						<p class="card-text">Directed by: Director</p>
						<p class="card-text">Release Year: 2020</p>
					</div>
				</div>
			</div>
			<div class="row align-items-center text-center g-0">
				<div class="col-4">
					<h5 class="">$49.99</h5>
				</div>
				<div class="col-8">
					<a href="" class="btn btn-primary p-3 w-100 rounded-0">Add to Cart</a>
				</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="card border-0 rounded-0 shadow">
			<img src="~/img/Interstellar.jpg" class="card-img-top" alt="Movie 1" />
			<div class="card-body my-3">
				<div class="row">
					<div class="col-12">
						<h4 class="card-title">Movie 1</h4>
						<p class="card-text">Directed by: Director</p>
						<p class="card-text">Release Year: 2020</p>
					</div>
				</div>
			</div>
			<div class="row align-items-center text-center g-0">
				<div class="col-4">
					<h5 class="">$49.99</h5>
				</div>
				<div class="col-8">
					<a href="" class="btn btn-primary p-3 w-100 rounded-0">Add to Cart</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card border-0 rounded-0 shadow">
			<img src="~/img/Interstellar.jpg" class="card-img-top" alt="Movie 1" />
			<div class="card-body my-3">
				<div class="row">
					<div class="col-12">
						<h4 class="card-title">Movie 1</h4>
						<p class="card-text">Directed by: Director</p>
						<p class="card-text">Release Year: 2020</p>
					</div>
				</div>
			</div>
			<div class="row align-items-center text-center g-0">
				<div class="col-4">
					<h5 class="">$49.99</h5>
				</div>
				<div class="col-8">
					<a href="" class="btn btn-primary p-3 w-100 rounded-0">Add to Cart</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card border-0 rounded-0 shadow">
			<img src="~/img/Interstellar.jpg" class="card-img-top" alt="Movie 1" />
			<div class="card-body my-3">
				<div class="row">
					<div class="col-12">
						<h4 class="card-title">Movie 1</h4>
						<p class="card-text">Directed by: Director</p>
						<p class="card-text">Release Year: 2020</p>
					</div>
				</div>
			</div>
			<div class="row align-items-center text-center g-0">
				<div class="col-4">
					<h5 class="">$49.99</h5>
				</div>
				<div class="col-8">
					<a href="" class="btn btn-primary p-3 w-100 rounded-0">Add to Cart</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card border-0 rounded-0 shadow">
			<img src="~/img/Interstellar.jpg" class="card-img-top" alt="Movie 1" />
			<div class="card-body my-3">
				<div class="row">
					<div class="col-12">
						<h4 class="card-title">Movie 1</h4>
						<p class="card-text">Directed by: Director</p>
						<p class="card-text">Release Year: 2020</p>
					</div>
				</div>
			</div>
			<div class="row align-items-center text-center g-0">
				<div class="col-4">
					<h5 class="">$49.99</h5>
				</div>
				<div class="col-8">
					<a href="" class="btn btn-primary p-3 w-100 rounded-0">Add to Cart</a>
				</div>
			</div>
		</div>
	</div>
</div>
