@model MovieShop_Oregano.Models.ViewModel.CustomerVM;
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-8">
        @Html.Partial("_CustomerPartial", Model.CustomerList)
    </div>
</div>