@model MovieShop_Oregano.Models.Movie

@{
	ViewData["Title"] = "Delete Movie";
}

<style>
	.min-vh-81 {
		min-height: 81vh !important;
	}
</style>	


<div class="container py-3 min-vh-81 d-flex flex-column justify-content-center align-items-center">
	<div class="col-md-7 card shadow rounded-3 my-auto">
		<div class="card-header p-3 bg-danger text-uppercase text-white text-center">
			<h2 class="mb-0 fw-bold">Delete Movie</h2>
		</div>
		<div class="card-body p-3">
			<form asp-action="Delete">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="row">
					<div class="col-6">
						<div class="form-floating mb-3">
							<input asp-for="Title" class="form-control form-control-sm" placeholder="Movie Title" id="floatingInput" />
							<label asp-for="Title" class="control-label" for="floatingInput">Movie Title</label>
							<span asp-validation-for="Title" class="text-danger"></span>
						</div>
					</div>
					<div class="col-6">
						<div class="form-floating mb-3">
							<input asp-for="Director" class="form-control form-control-sm" placeholder="Movie Director" id="floatingInput" />
							<label asp-for="Director" class="control-label" for="floatingInput">Movie Director</label>
							<span asp-validation-for="Director" class="text-danger"></span>
						</div>
					</div>
					<div class="col-6">
						<div class="form-floating mb-3">
							<input asp-for="ReleaseYear" class="form-control form-control-sm" placeholder="Release Year" id="floatingInput" />
							<label asp-for="ReleaseYear" class="control-label" for="floatingInput">Release Year</label>
							<span asp-validation-for="ReleaseYear" class="text-danger"></span>
						</div>
					</div>
					<div class="col-6">
						<div class="form-floating mb-3">
							<input asp-for="Price" class="form-control form-control-sm" placeholder="Price" id="floatingInput" />
							<label asp-for="Price" class="control-label" for="floatingInput">Price</label>
							<span asp-validation-for="Price" class="text-danger"></span>
						</div>
					</div>
					<div class="col-12">
						<div class="form-floating">
							<input asp-for="MovieImg" class="form-control form-control-sm" placeholder="MovieImg" id="floatingInput" />
							<label asp-for="MovieImg" class="control-label" for="floatingInput">Movie Image</label>
							
						</div>
					</div>
					<div class="form-group mt-3 d-flex justify-content-between">
						<a asp-action="Index" class="btn btn-primary col-4">Back to List</a>
						<input asp-for="Id" type="hidden"/>
						<input type="submit" value="Delete Movie" class="btn btn-danger col-4" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
