@{

    var isAuthenticatedString = Context.Session.GetString("IsAuthenticated");
    var isAuthenticated = !string.IsNullOrEmpty(isAuthenticatedString) && isAuthenticatedString == "true";

}

@if (isAuthenticated)
{
    <a class="btn btn-danger" asp-area="" asp-controller="Admin" asp-action="LogOut">
        <i class="bi bi-box-arrow-in-right"></i>
    </a>
}
else
{
    <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="Login">
        <i class="bi bi-person-circle"></i>
    </a>
}
