html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
}

.btn-container .btn {
    flex-grow: 1; 
}

.bg-dark-green {
    --bs-bg-opacity: 1;
    background-color: #336b2b;
}

.number-icon {
    position: absolute;
    background: #0d6efd;
    color: white;
    height: 40px;
    width: 40px;
    text-align: center;
    font-family: Tahoma, sans-serif;
    font-size: 20px;
    border-radius: 20px;
    line-height: 40px;
    top: -13px;
    left: -9px;
}

.footer-movie-collection {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

@media (max-width: 576px) {
    .btn-container .btn {
        flex-basis:100%;
    }
}